<div class="jumbotron mt-4">
	<h1 class="display-4">Notes app nodejs and Mongodb</h1>
	<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, repellendus! Quae, fuga rerum? Doloremque, repellat!</p>
	<hr class="my-4">
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, quas perspiciatis architecto minima vel ratione pariatur! Quae alias aut voluptates.</p>
	<a href="https://www.youtube.com" class="btn btn-primary">Ver youtube</a>
</div>